.ProductList {
  display: grid;
  padding: 0;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: auto;
}

.ProductList li {
  margin: 20px;
}

.ProductList p {
  text-align: justify;
  width: 210px;
  margin: auto;
}

@media (min-width: 600px) {
  .ProductList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .ProductList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1300px) {
  .ProductList {
    max-width: 55vw;
  }
}
