.NavDropdown {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  width: auto;
  align-items: center
}

.NavDropdown a {
  color: white;
  height: 100%;
  padding: 16px 10px;
  text-decoration: none;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}

.DropContent {
  display: none;
  margin-top: 77px;
  position: absolute;
  background-color: #F32F37;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DropContent a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DropContent a:hover {
  background-color: #555;
}

.NavDropdown:hover .DropContent {
  display: block;
}

.NavDropdown a:active,
.NavDropdown a.active {
  background-color: #555;
  color: white;
}

.DropContent a:hover {
    background-color: #333;
    color: white;
}
